:root{
    --branco: hsl(0, 0%, 100%);
    --cinza-azulado-claro: hsl(212, 45%, 89%);
    --cinza-azulado: hsl(220, 15%, 55%);
    --azul-escuro: hsl(218, 44%, 22%);
    --fonte-principal: 'Outfit', sans-serif;
}

body{
    background-color: var(--cinza-azulado-claro);
    font-family: var(--fonte-principal);
    padding: 3rem 0;
    

    
    
}
.container-page{
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.container{
    width: 290px;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

.qr-code{
    max-width: 290px;
    text-align: center;
}

.imagem-qr-code{
    width: 290px;
    border-radius: 15px;
    margin: auto;
}

h1{
    color: var(--azul-escuro);
    font-weight: 700;
    font-size: 1.3rem;
    padding: 0 20px;
    margin: 0;
}

p{
    color: var(--cinza-azulado);
    font-weight: 400;
    font-size: 1rem;
    padding: 0 20px;
}

@media screen and (min-width: 1440px){
    body{        
        width: 1440px;
        padding: 3rem 10rem;
    
        
        
    }
    .container{
        width: 400px;
    }

    .qr-code{
        max-width: 400px;
        text-align: center;
    }
    
    .imagem-qr-code{
        width: 400px;
        
    }    

    h1{
        
        font-size: 2rem;
        padding: 1rem;
        margin: 0;
        
    }
    
    p{
        
        font-size: 1.5rem;
        padding: 1rem;
        margin: 0;
        
    }
}